#body{
    background-color:black;
    text-align: center;
    }
    
    #titre{
        font-size: 250%;
        color: yellow;
        text-shadow: 1px 1px 1px white;
    }

    #cat{
        color: yellow;
        text-shadow: 1px 1px 1px white;
        text-align: center;
        font-size: 150%;
    
    }

    #table{
        border-spacing: 3vh;
    }

.groupe{
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20% /20%;
    box-shadow: 3px 5px 10px white;
    background:linear-gradient(to right, yellow,black);
}

.groupe >a {
    text-decoration: none;
    color: black;
    font-size: 110%;
    text-shadow: 1px 1px 1px white;
    
}

.img{
    border: 3px solid yellow;
    border-radius: 100px ;
}

