#body{
    background-color: gold;
    text-align: center;
    }
    
    #titre{
        font-size: 250%;
    }

    #cat{
        text-align: center;
        font-size: 150%;
    
    }

    #table{
        border-spacing: 3vh;
    }

.groupe{
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20% /20%;
    box-shadow: 1px 1px 15px green;
    background-color:darkgreen;

}

.groupe >a {
    text-decoration: none;
    color: gold;
}

.img{
    clip-path: ellipse(50% 50%);
}

